* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    user-select: none;
}
:root {
    --square-width: 8px;

    --board-width: min(900px, 98vw);
    --board-height: min(768px, calc(100vh - 160px));

    --battleshipGrey: #848C8E;
    --charcoal: #435058 ;
    --darkSienna: #2E0014 ;
    --paleSilver: #BFB7B6 ;
    --cultured: #F1F2EE ;

    --sucess-color: #044389 ;
    --error-color: #c43e2f ;
    --shadow: #2e001463;

    --board-color: var(--cultured);
    --paint-color: var(--darkSienna);
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;

    background: var(--battleshipGrey);
    background: linear-gradient(180deg, var(--paleSilver) 33%,
    var(--battleshipGrey) 33%); 
}

header {
    width: var(--board-width);
    padding: 0 20px;

    display: flex;
    justify-content: flex-start;
    
    gap: 10px;
    z-index: 1;
}
.board-btn {
    height: 50px;
    width: min(50px, 30vw);
    padding: 10px;

    background-color: var(--cultured);
    border: none;

    cursor: pointer;
    transition: 200ms ease-out;
    transform-origin: top;
    outline: none;
}

.header-btn {
    border-radius: .15rem .15rem 0 0;
}
.header-btn#clear {
    background-color: #2E0014;
}
.header-btn:nth-last-child(2) {
    margin-left: auto;
}
.header-btn:hover {
    filter: brightness(0.95);
}
.header-btn img {
    height: 100%;
    max-width: 100%;
    filter: drop-shadow(0 0 8px #f1f2ee70);
}


#board {
    background: var(--board-color);
    box-shadow: 0 0 5px -1px #000000a8;
    border-radius: .25rem;

    display: flex;
    flex-flow: row wrap;
    width: var(--board-width);
    height: var(--board-height);
    overflow: hidden;
}

.square {
    width: var(--square-width);
    height: var(--square-width);
}
.painted {
    background-color: var(--paint-color);
}

#alert-container {
    position: absolute;
    display: flex;
    width: min(300px, 80vw);
    height: fit-content;
    justify-content: center;
    align-items: center;
}
.alert {
    display: none;
    background-color: #f1f2eeee;
    position: absolute;
    padding: 20px;

    border: 1px solid var(--paleSilver);
    border-radius: 5px;
    box-shadow: 0 2px 35px -12px #2e001441;

    text-align: center;
    animation: alert-show 2000ms forwards;
}
.sucess {
    color: var(--sucess-color);
}
.error {
    color: var(--error-color);
}
@keyframes alert-show {
    0% {
        transform: translateY(40px);
        opacity: 0;
    }
    17% {
        transform: translateY(-5px);
        opacity: 1;
    }
    27% {
        transform: translateY(0px);
    }
    99% {
        opacity: 1;
    }
    100% {
        display: none;
        /* opacity: 0; */
    }
}

#tools {
    width: var(--board-width);
    padding: 0 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 6px;
}
.tools-label {
    border-radius: 0 0 .15rem .15rem;
}
.tools-input:checked + .tools-label {
    box-shadow: inset 0 0 40px -20px #2e001463;
    transform: scale(0.9);
    cursor: default;
}
.tools-label img {
    height: 100%;
    max-width: 100%;
    filter: drop-shadow(0 0 14px #2e0014a7);
}